[font]
size = 14.0

[font.normal]
family = "Hack Nerd Font"
style = "Regular"

[window]
decorations = "buttonless"
opacity = 1.0
startup_mode = "Windowed"

[window.padding]
x = 1
y = 1

[scrolling]
history = 100000

[colors]
# Catppuccin Mocha
[colors.primary]
background = "#1e1e2e"
foreground = "#cdd6f4"
dim_foreground = "#7f849c"
bright_foreground = "#cdd6f4"

[colors.cursor]
text = "#1e1e2e"
cursor = "#f5e0dc"

[colors.vi_mode_cursor]
text = "#1e1e2e"
cursor = "#b4befe"

[colors.search.matches]
foreground = "#1e1e2e"
background = "#a6adc8"

[colors.search.focused_match]
foreground = "#1e1e2e"
background = "#a6e3a1"

[colors.footer_bar]
foreground = "#1e1e2e"
background = "#a6adc8"

[colors.hints.start]
foreground = "#1e1e2e"
background = "#f9e2af"

[colors.hints.end]
foreground = "#1e1e2e"
background = "#a6adc8"

[colors.selection]
text = "#1e1e2e"
background = "#f5e0dc"

[colors.normal]
black = "#45475a"
red = "#f38ba8"
green = "#a6e3a1"
yellow = "#f9e2af"
blue = "#89b4fa"
magenta = "#f5c2e7"
cyan = "#94e2d5"
white = "#bac2de"

[colors.bright]
black = "#585b70"
red = "#f38ba8"
green = "#a6e3a1"
yellow = "#f9e2af"
blue = "#89b4fa"
magenta = "#f5c2e7"
cyan = "#94e2d5"
white = "#a6adc8"

[colors.dim]
black = "#45475a"
red = "#f38ba8"
green = "#a6e3a1"
yellow = "#f9e2af"
blue = "#89b4fa"
magenta = "#f5c2e7"
cyan = "#94e2d5"
white = "#bac2de"

[[colors.indexed_colors]]
index = 16
color = "#fab387"

[[colors.indexed_colors]]
index = 17
color = "#f5e0dc"

[keyboard]
bindings = [
  { key = "K", mods = "Command", action = "ClearHistory" },
  { key = "T", mods = "Command", chars = "\u001bt" }, # Cmd+T -> Zellij New Tab (Alt+t)
  { key = "W", mods = "Command", chars = "\u001bw" }, # Cmd+W -> Zellij Close Pane (Alt+w)
  { key = "Backslash", mods = "Command|Shift", chars = "\u001b\\" }, # Cmd+| -> Zellij Split Right (Alt+\)
  { key = "Minus", mods = "Command|Shift", chars = "\u001b-" }, # Cmd+_ -> Zellij Split Down (Alt+-)
  { key = "F", mods = "Command|Control", action = "ToggleFullscreen" },
]

[env]
TERM = "xterm-256color"
